*{
    background-color: rgb(7, 60, 141);
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid 2px;
    border-radius: 30px 2px;
    font-size: 30px;

}

p {
 font-size: 20px;
 margin-top: 1px;
}

h4 {
    margin-bottom: 8px;
};